@{
  Layout = "_Layout";
  var totalGuests = 0;

}
@model List<Gshahine.DotNetCore.ViewModels.GuestVM>

@section head {
  <style>
    .ui.main-content {
      padding: 5em;
    }

    .ui.visible.left.sidebar ~ .pusher {
      transform: translate3d(60px, 0, 0);
    }
  </style>
}

<div class="ui main-content">

  <div class="ui">
    <div class="text-center">
      <h1><i class="lebanon flag"></i>Rachid Soutou &amp; Jamie Shahine's Guest List <i class="lebanon flag"></i></h1>
    </div>

    <form action="/guestlist/add" method="post" class="ui large form ">
      <div class="three fields">
        <div class="field">
          <input type="text" name="FirstName" placeholder="First Name" />
        </div>
        <div class="field">
          <input type="text" name="LastName" placeholder="Last Name" />
        </div>
        <div class="field">
          <input type="text" name="Nickname" placeholder="Nickname" />
        </div>
        <div class="field">
          <input type="number" name="Guests" placeholder="# of Guests" />
        </div>
      </div>
      <div class="four fields">
        <div class="field">
          <input type="text" name="PhoneNumber" placeholder="Phone number" />
        </div>
        <div class="field">
          <input type="text" name="GuestOf" placeholder="Guest of" />
        </div>
        <div class="field">
          <input type="number" name="Priority" placeholder="Priority (1-10)" />
        </div>
        <div class="field">
          <input type="text" name="Relationship" placeholder="Relationship" />
        </div>
        <div class="field">
          <input class="ui submit purple button right" type="submit" value="Quick Add" />
        </div>
      </div>
    </form>
  </div>

  <div class="ui two column grid">
    <div class="column">
      <h2>Guests</h2>
      <table class="ui selectable sortable celled table">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Guest Of</th>
            <th>Relationship</th>
            <th>Priority</th>
          </tr>
        </thead>
        <tbody>
          @for (int i = 0; i < Model.Count; i += 1)
          {
            var guest = Model[i];

            totalGuests += guest.Guests + 1;

            <tr>
              <td>@(i + 1)</td>
              <td style="text-transform: capitalize;"><a target="_blank" href="/guestlist/edit/@guest.Id">@guest.FirstName @guest.LastName @(!string.IsNullOrEmpty(guest.Nickname) ? "(" + guest.Nickname + ")" : "") @(guest.Guests > 0 ? "+" + guest.Guests : "") </a></td>
              <td>@guest.Phonenumber</td>
              <td><a target="_blank" href="/guestlist/guestof/@guest.GuestOf">@guest.GuestOf</a></td>
              <td>@guest.Relationship</td>
              <td>@guest.Priority</td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <h3>Total guests: @totalGuests</h3>

    <div class="column">
    </div>
  </div>

</div>
